@font-face {
  font-family: "iconfont"; /* Project id 3270900 */
  src: url('iconfont.woff2?t=1648019847910') format('woff2'),
       url('iconfont.woff?t=1648019847910') format('woff'),
       url('iconfont.ttf?t=1648019847910') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-zz-"],
[class*="icon-zz-"]
{
  font-family: "iconfont" !important;
  font-size: 30px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zz-round:before {
  content: "\e6d7";
}

.icon-zz-video_fill_light:before {
  content: "\e802";
}

.icon-zz-roundaddfill:before {
  content: "\e6d8";
}

.icon-zz-message_fill_light:before {
  content: "\e803";
}

.icon-zz-roundadd:before {
  content: "\e6d9";
}

.icon-zz-form_light:before {
  content: "\e804";
}

.icon-zz-add:before {
  content: "\e6da";
}

.icon-zz-video_light:before {
  content: "\e805";
}

.icon-zz-notificationforbidfill:before {
  content: "\e6db";
}

.icon-zz-search_list_light:before {
  content: "\e806";
}

.icon-zz-explorefill:before {
  content: "\e6dd";
}

.icon-zz-form_fill_light:before {
  content: "\e807";
}

.icon-zz-fold:before {
  content: "\e6de";
}

.icon-zz-global_light:before {
  content: "\e808";
}

.icon-zz-game:before {
  content: "\e6df";
}

.icon-zz-global:before {
  content: "\e809";
}

.icon-zz-redpacket:before {
  content: "\e6e0";
}

.icon-zz-favor_fill_light:before {
  content: "\e80a";
}

.icon-zz-selectionfill:before {
  content: "\e6e1";
}

.icon-zz-delete_light:before {
  content: "\e80b";
}

.icon-zz-similar:before {
  content: "\e6e2";
}

.icon-zz-back_android:before {
  content: "\e80c";
}

.icon-zz-appreciatefill:before {
  content: "\e6e3";
}

.icon-zz-back_android_light:before {
  content: "\e80d";
}

.icon-zz-infofill:before {
  content: "\e6e4";
}

.icon-zz-down_light:before {
  content: "\e80e";
}

.icon-zz-info:before {
  content: "\e6e5";
}

.icon-zz-round_close_light:before {
  content: "\e80f";
}

.icon-zz-tao:before {
  content: "\e6e8";
}

.icon-zz-round_close_fill_light:before {
  content: "\e810";
}

.icon-zz-mobiletao:before {
  content: "\e6e9";
}

.icon-zz-expressman:before {
  content: "\e811";
}

.icon-zz-forwardfill:before {
  content: "\e6ea";
}

.icon-zz-punch_light:before {
  content: "\e812";
}

.icon-zz-forward:before {
  content: "\e6eb";
}

.icon-zz-evaluate_fill:before {
  content: "\e813";
}

.icon-zz-rechargefill:before {
  content: "\e6ec";
}

.icon-zz-furniture:before {
  content: "\e814";
}

.icon-zz-recharge:before {
  content: "\e6ed";
}

.icon-zz-dress:before {
  content: "\e815";
}

.icon-zz-vipcard:before {
  content: "\e6ee";
}

.icon-zz-coffee:before {
  content: "\e816";
}

.icon-zz-voice:before {
  content: "\e6ef";
}

.icon-zz-sports:before {
  content: "\e817";
}

.icon-zz-voicefill:before {
  content: "\e6f0";
}

.icon-zz-group_light:before {
  content: "\e818";
}

.icon-zz-friendfavor:before {
  content: "\e6f1";
}

.icon-zz-location_light:before {
  content: "\e819";
}

.icon-zz-wifi:before {
  content: "\e6f2";
}

.icon-zz-attention_light:before {
  content: "\e81a";
}

.icon-zz-share:before {
  content: "\e6f3";
}

.icon-zz-group_fill_light:before {
  content: "\e81b";
}

.icon-zz-wefill:before {
  content: "\e6f4";
}

.icon-zz-group_fill:before {
  content: "\e81c";
}

.icon-zz-we:before {
  content: "\e6f5";
}

.icon-zz-play_forward_fill:before {
  content: "\e81d";
}

.icon-zz-lightauto:before {
  content: "\e6f6";
}

.icon-zz-subscription_light:before {
  content: "\e81e";
}

.icon-zz-lightforbid:before {
  content: "\e6f7";
}

.icon-zz-deliver_fill:before {
  content: "\e81f";
}

.icon-zz-lightfill:before {
  content: "\e6f8";
}

.icon-zz-notice_forbid_fill:before {
  content: "\e820";
}

.icon-zz-camerarotate:before {
  content: "\e6f9";
}

.icon-zz-qr_code_light:before {
  content: "\e821";
}

.icon-zz-light:before {
  content: "\e6fa";
}

.icon-zz-settings_light:before {
  content: "\e822";
}

.icon-zz-barcode:before {
  content: "\e6fb";
}

.icon-zz-pick:before {
  content: "\e823";
}

.icon-zz-flashlightclose:before {
  content: "\e6fc";
}

.icon-zz-form_favor_light:before {
  content: "\e824";
}

.icon-zz-flashlightopen:before {
  content: "\e6fd";
}

.icon-zz-round_comment_light:before {
  content: "\e825";
}

.icon-zz-searchlist:before {
  content: "\e6fe";
}

.icon-zz-phone_light:before {
  content: "\e826";
}

.icon-zz-service:before {
  content: "\e6ff";
}

.icon-zz-round_down_light:before {
  content: "\e827";
}

.icon-zz-sort:before {
  content: "\e700";
}

.icon-zz-friend_settings_light:before {
  content: "\e828";
}

.icon-zz-1212:before {
  content: "\e702";
}

.icon-zz-change:before {
  content: "\e829";
}

.icon-zz-down:before {
  content: "\e703";
}

.icon-zz-round_list_light:before {
  content: "\e82a";
}

.icon-zz-mobile:before {
  content: "\e704";
}

.icon-zz-ticket_fill:before {
  content: "\e82b";
}

.icon-zz-mobilefill:before {
  content: "\e705";
}

.icon-zz-round_friend_fill:before {
  content: "\e82c";
}

.icon-zz-copy:before {
  content: "\e706";
}

.icon-zz-round_crown_fill:before {
  content: "\e82d";
}

.icon-zz-countdownfill:before {
  content: "\e707";
}

.icon-zz-round_link_fill:before {
  content: "\e82e";
}

.icon-zz-countdown:before {
  content: "\e708";
}

.icon-zz-round_light_fill:before {
  content: "\e82f";
}

.icon-zz-noticefill:before {
  content: "\e709";
}

.icon-zz-round_favor_fill:before {
  content: "\e830";
}

.icon-zz-notice:before {
  content: "\e70a";
}

.icon-zz-round_menu_fill:before {
  content: "\e831";
}

.icon-zz-qiang:before {
  content: "\e70b";
}

.icon-zz-round_location_fill:before {
  content: "\e832";
}

.icon-zz-upstagefill:before {
  content: "\e70e";
}

.icon-zz-round_pay_fill:before {
  content: "\e833";
}

.icon-zz-upstage:before {
  content: "\e70f";
}

.icon-zz-round_like_fill:before {
  content: "\e834";
}

.icon-zz-babyfill:before {
  content: "\e710";
}

.icon-zz-round_people_fill:before {
  content: "\e835";
}

.icon-zz-baby:before {
  content: "\e711";
}

.icon-zz-round_pay:before {
  content: "\e836";
}

.icon-zz-brandfill:before {
  content: "\e712";
}

.icon-zz-round_rank_fill:before {
  content: "\e837";
}

.icon-zz-brand:before {
  content: "\e713";
}

.icon-zz-round_redpacket_fill:before {
  content: "\e838";
}

.icon-zz-choicenessfill:before {
  content: "\e714";
}

.icon-zz-round_skin_fill:before {
  content: "\e839";
}

.icon-zz-choiceness:before {
  content: "\e715";
}

.icon-zz-round_record_fill:before {
  content: "\e83a";
}

.icon-zz-clothesfill:before {
  content: "\e716";
}

.icon-zz-round_ticket_fill:before {
  content: "\e83b";
}

.icon-zz-clothes:before {
  content: "\e717";
}

.icon-zz-round_redpacket:before {
  content: "\e83c";
}

.icon-zz-creativefill:before {
  content: "\e718";
}

.icon-zz-round_text_fill:before {
  content: "\e83d";
}

.icon-zz-creative:before {
  content: "\e719";
}

.icon-zz-round_ticket:before {
  content: "\e83e";
}

.icon-zz-female:before {
  content: "\e71a";
}

.icon-zz-round_transfer_fill:before {
  content: "\e83f";
}

.icon-zz-keyboard:before {
  content: "\e71b";
}

.icon-zz-subtitle_block_light:before {
  content: "\e840";
}

.icon-zz-male:before {
  content: "\e71c";
}

.icon-zz-warn_light:before {
  content: "\e841";
}

.icon-zz-newfill:before {
  content: "\e71d";
}

.icon-zz-round_transfer:before {
  content: "\e842";
}

.icon-zz-new:before {
  content: "\e71e";
}

.icon-zz-vip_code_light:before {
  content: "\e843";
}

.icon-zz-pullleft:before {
  content: "\e71f";
}

.icon-zz-subtitle_unblock_light:before {
  content: "\e844";
}

.icon-zz-pullright:before {
  content: "\e720";
}

.icon-zz-round_shop_fill:before {
  content: "\e845";
}

.icon-zz-rankfill:before {
  content: "\e721";
}

.icon-zz-oppose_fill_light:before {
  content: "\e846";
}

.icon-zz-rank:before {
  content: "\e722";
}

.icon-zz-oppose_light:before {
  content: "\e847";
}

.icon-zz-bad:before {
  content: "\e723";
}

.icon-zz-living:before {
  content: "\e848";
}

.icon-zz-cameraadd:before {
  content: "\e724";
}

.icon-zz-goods_hot_fill:before {
  content: "\e849";
}

.icon-zz-focus:before {
  content: "\e725";
}

.icon-zz-ticket_money_fill:before {
  content: "\e84a";
}

.icon-zz-friendfill:before {
  content: "\e726";
}

.icon-zz-arrow_left_fill:before {
  content: "\e84b";
}

.icon-zz-cameraaddfill:before {
  content: "\e727";
}

.icon-zz-arrow_up_fill:before {
  content: "\e84c";
}

.icon-zz-apps:before {
  content: "\e729";
}

.icon-zz-xiaoheiqun:before {
  content: "\e84d";
}

.icon-zz-paintfill:before {
  content: "\e72a";
}

.icon-zz-auction:before {
  content: "\e84e";
}

.icon-zz-paint:before {
  content: "\e72b";
}

.icon-zz-return:before {
  content: "\e84f";
}

.icon-zz-picfill:before {
  content: "\e72c";
}

.icon-zz-mall_light:before {
  content: "\e850";
}

.icon-zz-refresharrow:before {
  content: "\e72d";
}

.icon-zz-mall_fill_light:before {
  content: "\e851";
}

.icon-zz-markfill:before {
  content: "\e730";
}

.icon-zz-broadcast_fill:before {
  content: "\e852";
}

.icon-zz-mark:before {
  content: "\e731";
}

.icon-zz-at:before {
  content: "\e853";
}

.icon-zz-presentfill:before {
  content: "\e732";
}

.icon-zz-card_fill:before {
  content: "\e854";
}

.icon-zz-repeal:before {
  content: "\e733";
}

.icon-zz-album:before {
  content: "\e734";
}

.icon-zz-peoplefill:before {
  content: "\e735";
}

.icon-zz-people:before {
  content: "\e736";
}

.icon-zz-servicefill:before {
  content: "\e737";
}

.icon-zz-repair:before {
  content: "\e738";
}

.icon-zz-file:before {
  content: "\e739";
}

.icon-zz-repairfill:before {
  content: "\e73a";
}

.icon-zz-taoxiaopu:before {
  content: "\e73b";
}

.icon-zz-attentionfill:before {
  content: "\e73c";
}

.icon-zz-attention:before {
  content: "\e73d";
}

.icon-zz-commandfill:before {
  content: "\e73e";
}

.icon-zz-command:before {
  content: "\e73f";
}

.icon-zz-communityfill:before {
  content: "\e740";
}

.icon-zz-community:before {
  content: "\e741";
}

.icon-zz-read:before {
  content: "\e742";
}

.icon-zz-suan:before {
  content: "\e743";
}

.icon-zz-hua:before {
  content: "\e744";
}

.icon-zz-ju:before {
  content: "\e745";
}

.icon-zz-tian:before {
  content: "\e748";
}

.icon-zz-calendar:before {
  content: "\e74a";
}

.icon-zz-cut:before {
  content: "\e74b";
}

.icon-zz-magic:before {
  content: "\e74c";
}

.icon-zz-backwardfill:before {
  content: "\e74d";
}

.icon-zz-playfill:before {
  content: "\e74f";
}

.icon-zz-stop:before {
  content: "\e750";
}

.icon-zz-tagfill:before {
  content: "\e751";
}

.icon-zz-tag:before {
  content: "\e752";
}

.icon-zz-group:before {
  content: "\e753";
}

.icon-zz-all:before {
  content: "\e755";
}

.icon-zz-backdelete:before {
  content: "\e756";
}

.icon-zz-hotfill:before {
  content: "\e757";
}

.icon-zz-hot:before {
  content: "\e758";
}

.icon-zz-post:before {
  content: "\e759";
}

.icon-zz-radiobox:before {
  content: "\e75b";
}

.icon-zz-rounddown:before {
  content: "\e75c";
}

.icon-zz-upload:before {
  content: "\e75d";
}

.icon-zz-writefill:before {
  content: "\e760";
}

.icon-zz-write:before {
  content: "\e761";
}

.icon-zz-radioboxfill:before {
  content: "\e763";
}

.icon-zz-punch:before {
  content: "\e764";
}

.icon-zz-shake:before {
  content: "\e765";
}

.icon-zz-add1:before {
  content: "\e767";
}

.icon-zz-move:before {
  content: "\e768";
}

.icon-zz-safe:before {
  content: "\e769";
}

.icon-zz-haodian:before {
  content: "\e76d";
}

.icon-zz-mao:before {
  content: "\e76e";
}

.icon-zz-qi:before {
  content: "\e76f";
}

.icon-zz-ye:before {
  content: "\e770";
}

.icon-zz-juhuasuan:before {
  content: "\e771";
}

.icon-zz-taoqianggou:before {
  content: "\e772";
}

.icon-zz-tianmao:before {
  content: "\e773";
}

.icon-zz-activityfill:before {
  content: "\e775";
}

.icon-zz-crownfill:before {
  content: "\e776";
}

.icon-zz-crown:before {
  content: "\e777";
}

.icon-zz-goodsfill:before {
  content: "\e778";
}

.icon-zz-messagefill:before {
  content: "\e779";
}

.icon-zz-profilefill:before {
  content: "\e77a";
}

.icon-zz-sound:before {
  content: "\e77b";
}

.icon-zz-sponsorfill:before {
  content: "\e77c";
}

.icon-zz-sponsor:before {
  content: "\e77d";
}

.icon-zz-upblock:before {
  content: "\e77e";
}

.icon-zz-weblock:before {
  content: "\e77f";
}

.icon-zz-weunblock:before {
  content: "\e780";
}

.icon-zz-1111:before {
  content: "\e782";
}

.icon-zz-my:before {
  content: "\e78b";
}

.icon-zz-myfill:before {
  content: "\e78c";
}

.icon-zz-emojifill:before {
  content: "\e78d";
}

.icon-zz-emojiflashfill:before {
  content: "\e78e";
}

.icon-zz-flashbuyfill-copy:before {
  content: "\e78f";
}

.icon-zz-text:before {
  content: "\e791";
}

.icon-zz-goodsfavor:before {
  content: "\e794";
}

.icon-zz-musicfill:before {
  content: "\e795";
}

.icon-zz-musicforbidfill:before {
  content: "\e796";
}

.icon-zz-xiamiforbid:before {
  content: "\e797";
}

.icon-zz-xiami:before {
  content: "\e798";
}

.icon-zz-roundleftfill:before {
  content: "\e799";
}

.icon-zz-triangledownfill:before {
  content: "\e79b";
}

.icon-zz-appreciate:before {
  content: "\e644";
}

.icon-zz-triangleupfill:before {
  content: "\e79c";
}

.icon-zz-check:before {
  content: "\e645";
}

.icon-zz-roundleftfill-copy:before {
  content: "\e79e";
}

.icon-zz-close:before {
  content: "\e646";
}

.icon-zz-pulldown1:before {
  content: "\e79f";
}

.icon-zz-edit:before {
  content: "\e649";
}

.icon-zz-emojilight:before {
  content: "\e7a1";
}

.icon-zz-emoji:before {
  content: "\e64a";
}

.icon-zz-keyboardlight:before {
  content: "\e7a3";
}

.icon-zz-favorfill:before {
  content: "\e64b";
}

.icon-zz-recordfill:before {
  content: "\e7a4";
}

.icon-zz-favor:before {
  content: "\e64c";
}

.icon-zz-recordlight:before {
  content: "\e7a5";
}

.icon-zz-loading:before {
  content: "\e64f";
}

.icon-zz-record:before {
  content: "\e7a6";
}

.icon-zz-locationfill:before {
  content: "\e650";
}

.icon-zz-roundaddlight:before {
  content: "\e7a7";
}

.icon-zz-location:before {
  content: "\e651";
}

.icon-zz-soundlight:before {
  content: "\e7a8";
}

.icon-zz-phone:before {
  content: "\e652";
}

.icon-zz-cardboardfill:before {
  content: "\e7a9";
}

.icon-zz-roundcheckfill:before {
  content: "\e656";
}

.icon-zz-cardboard:before {
  content: "\e7aa";
}

.icon-zz-roundcheck:before {
  content: "\e657";
}

.icon-zz-formfill:before {
  content: "\e7ab";
}

.icon-zz-roundclosefill:before {
  content: "\e658";
}

.icon-zz-coin:before {
  content: "\e7ac";
}

.icon-zz-roundclose:before {
  content: "\e659";
}

.icon-zz-sortlight:before {
  content: "\e7ad";
}

.icon-zz-roundrightfill:before {
  content: "\e65a";
}

.icon-zz-cardboardforbid:before {
  content: "\e7af";
}

.icon-zz-roundright:before {
  content: "\e65b";
}

.icon-zz-circlefill:before {
  content: "\e7b0";
}

.icon-zz-search:before {
  content: "\e65c";
}

.icon-zz-circle:before {
  content: "\e7b1";
}

.icon-zz-taxi:before {
  content: "\e65d";
}

.icon-zz-attentionforbid:before {
  content: "\e7b2";
}

.icon-zz-timefill:before {
  content: "\e65e";
}

.icon-zz-attentionforbidfill:before {
  content: "\e7b3";
}

.icon-zz-time:before {
  content: "\e65f";
}

.icon-zz-attentionfavorfill:before {
  content: "\e7b4";
}

.icon-zz-unfold:before {
  content: "\e661";
}

.icon-zz-attentionfavor:before {
  content: "\e7b5";
}

.icon-zz-warnfill:before {
  content: "\e662";
}

.icon-zz-piclight:before {
  content: "\e7b7";
}

.icon-zz-warn:before {
  content: "\e663";
}

.icon-zz-shoplight:before {
  content: "\e7b8";
}

.icon-zz-camerafill:before {
  content: "\e664";
}

.icon-zz-voicelight:before {
  content: "\e7b9";
}

.icon-zz-camera:before {
  content: "\e665";
}

.icon-zz-attentionfavorfill-copy:before {
  content: "\e7ba";
}

.icon-zz-commentfill:before {
  content: "\e666";
}

.icon-zz-full:before {
  content: "\e7bc";
}

.icon-zz-comment:before {
  content: "\e667";
}

.icon-zz-mail:before {
  content: "\e7bd";
}

.icon-zz-likefill:before {
  content: "\e668";
}

.icon-zz-peoplelist:before {
  content: "\e7be";
}

.icon-zz-like:before {
  content: "\e669";
}

.icon-zz-goodsnewfill:before {
  content: "\e7bf";
}

.icon-zz-notificationfill:before {
  content: "\e66a";
}

.icon-zz-goodsnew:before {
  content: "\e7c0";
}

.icon-zz-notification:before {
  content: "\e66b";
}

.icon-zz-medalfill:before {
  content: "\e7c1";
}

.icon-zz-order:before {
  content: "\e66c";
}

.icon-zz-medal:before {
  content: "\e7c2";
}

.icon-zz-samefill:before {
  content: "\e66d";
}

.icon-zz-newsfill:before {
  content: "\e7c3";
}

.icon-zz-same:before {
  content: "\e66e";
}

.icon-zz-newshotfill:before {
  content: "\e7c4";
}

.icon-zz-deliver:before {
  content: "\e671";
}

.icon-zz-newshot:before {
  content: "\e7c5";
}

.icon-zz-evaluate:before {
  content: "\e672";
}

.icon-zz-news:before {
  content: "\e7c6";
}

.icon-zz-pay:before {
  content: "\e673";
}

.icon-zz-videofill:before {
  content: "\e7c7";
}

.icon-zz-send:before {
  content: "\e675";
}

.icon-zz-video:before {
  content: "\e7c8";
}

.icon-zz-shop:before {
  content: "\e676";
}

.icon-zz-askfill:before {
  content: "\e7c9";
}

.icon-zz-ticket:before {
  content: "\e677";
}

.icon-zz-ask:before {
  content: "\e7ca";
}

.icon-zz-wang:before {
  content: "\e678";
}

.icon-zz-exit:before {
  content: "\e7cb";
}

.icon-zz-back:before {
  content: "\e679";
}

.icon-zz-skinfill:before {
  content: "\e7cc";
}

.icon-zz-cascades:before {
  content: "\e67c";
}

.icon-zz-skin:before {
  content: "\e7cd";
}

.icon-zz-discover:before {
  content: "\e67e";
}

.icon-zz-moneybagfill:before {
  content: "\e7ce";
}

.icon-zz-list:before {
  content: "\e682";
}

.icon-zz-usefullfill:before {
  content: "\e7cf";
}

.icon-zz-more:before {
  content: "\e684";
}

.icon-zz-usefull:before {
  content: "\e7d0";
}

.icon-zz-scan:before {
  content: "\e689";
}

.icon-zz-moneybag:before {
  content: "\e7d1";
}

.icon-zz-settings:before {
  content: "\e68a";
}

.icon-zz-redpacket_fill:before {
  content: "\e7d3";
}

.icon-zz-questionfill:before {
  content: "\e690";
}

.icon-zz-subscription:before {
  content: "\e7d4";
}

.icon-zz-question:before {
  content: "\e691";
}

.icon-zz-home_light:before {
  content: "\e7d5";
}

.icon-zz-shopfill:before {
  content: "\e697";
}

.icon-zz-my_light:before {
  content: "\e7d6";
}

.icon-zz-form:before {
  content: "\e699";
}

.icon-zz-community_light:before {
  content: "\e7d7";
}

.icon-zz-wangfill:before {
  content: "\e69a";
}

.icon-zz-cart_light:before {
  content: "\e7d8";
}

.icon-zz-pic:before {
  content: "\e69b";
}

.icon-zz-we_light:before {
  content: "\e7d9";
}

.icon-zz-filter:before {
  content: "\e69c";
}

.icon-zz-home_fill_light:before {
  content: "\e7da";
}

.icon-zz-footprint:before {
  content: "\e69d";
}

.icon-zz-cart_fill_light:before {
  content: "\e7db";
}

.icon-zz-top:before {
  content: "\e69e";
}

.icon-zz-community_fill_light:before {
  content: "\e7dc";
}

.icon-zz-pulldown:before {
  content: "\e69f";
}

.icon-zz-my_fill_light:before {
  content: "\e7dd";
}

.icon-zz-pullup:before {
  content: "\e6a0";
}

.icon-zz-we_fill_light:before {
  content: "\e7de";
}

.icon-zz-right:before {
  content: "\e6a3";
}

.icon-zz-skin_light:before {
  content: "\e7df";
}

.icon-zz-refresh:before {
  content: "\e6a4";
}

.icon-zz-search_light:before {
  content: "\e7e0";
}

.icon-zz-moreandroid:before {
  content: "\e6a5";
}

.icon-zz-scan_light:before {
  content: "\e7e1";
}

.icon-zz-deletefill:before {
  content: "\e6a6";
}

.icon-zz-people_list_light:before {
  content: "\e7e2";
}

.icon-zz-refund:before {
  content: "\e6ac";
}

.icon-zz-message_light:before {
  content: "\e7e3";
}

.icon-zz-cart:before {
  content: "\e6af";
}

.icon-zz-close_light:before {
  content: "\e7e4";
}

.icon-zz-qrcode:before {
  content: "\e6b0";
}

.icon-zz-add_light:before {
  content: "\e7e5";
}

.icon-zz-remind:before {
  content: "\e6b2";
}

.icon-zz-profile_light:before {
  content: "\e7e6";
}

.icon-zz-delete:before {
  content: "\e6b4";
}

.icon-zz-service_light:before {
  content: "\e7e7";
}

.icon-zz-profile:before {
  content: "\e6b7";
}

.icon-zz-friend_add_light:before {
  content: "\e7e8";
}

.icon-zz-home:before {
  content: "\e6b8";
}

.icon-zz-edit_light:before {
  content: "\e7e9";
}

.icon-zz-cartfill:before {
  content: "\e6b9";
}

.icon-zz-camera_light:before {
  content: "\e7ea";
}

.icon-zz-discoverfill:before {
  content: "\e6ba";
}

.icon-zz-hot_light:before {
  content: "\e7eb";
}

.icon-zz-homefill:before {
  content: "\e6bb";
}

.icon-zz-refresh_light:before {
  content: "\e7ec";
}

.icon-zz-message:before {
  content: "\e6bc";
}

.icon-zz-back_light:before {
  content: "\e7ed";
}

.icon-zz-addressbook:before {
  content: "\e6bd";
}

.icon-zz-share_light:before {
  content: "\e7ee";
}

.icon-zz-link:before {
  content: "\e6bf";
}

.icon-zz-comment_light:before {
  content: "\e7ef";
}

.icon-zz-lock:before {
  content: "\e6c0";
}

.icon-zz-appreciate_light:before {
  content: "\e7f0";
}

.icon-zz-unlock:before {
  content: "\e6c2";
}

.icon-zz-favor_light:before {
  content: "\e7f1";
}

.icon-zz-vip:before {
  content: "\e6c3";
}

.icon-zz-appreciate_fill_light:before {
  content: "\e7f2";
}

.icon-zz-weibo:before {
  content: "\e6c4";
}

.icon-zz-comment_fill_light:before {
  content: "\e7f3";
}

.icon-zz-activity:before {
  content: "\e6c5";
}

.icon-zz-wang_light:before {
  content: "\e7f4";
}

.icon-zz-big:before {
  content: "\e6c7";
}

.icon-zz-more_android_light:before {
  content: "\e7f5";
}

.icon-zz-friendaddfill:before {
  content: "\e6c9";
}

.icon-zz-friend_light:before {
  content: "\e7f6";
}

.icon-zz-friendadd:before {
  content: "\e6ca";
}

.icon-zz-more_light:before {
  content: "\e7f7";
}

.icon-zz-friendfamous:before {
  content: "\e6cb";
}

.icon-zz-goods_favor_light:before {
  content: "\e7f8";
}

.icon-zz-friend:before {
  content: "\e6cc";
}

.icon-zz-goods_new_fill_light:before {
  content: "\e7f9";
}

.icon-zz-goods:before {
  content: "\e6cd";
}

.icon-zz-goods_new_light:before {
  content: "\e7fa";
}

.icon-zz-selection:before {
  content: "\e6ce";
}

.icon-zz-goods_light:before {
  content: "\e7fb";
}

.icon-zz-tmall:before {
  content: "\e6cf";
}

.icon-zz-medal_fill_light:before {
  content: "\e7fc";
}

.icon-zz-explore:before {
  content: "\e6d2";
}

.icon-zz-medal_light:before {
  content: "\e7fd";
}

.icon-zz-present:before {
  content: "\e6d3";
}

.icon-zz-news_fill_light:before {
  content: "\e7fe";
}

.icon-zz-squarecheckfill:before {
  content: "\e6d4";
}

.icon-zz-news_hot_fill_light:before {
  content: "\e7ff";
}

.icon-zz-square:before {
  content: "\e6d5";
}

.icon-zz-news_hot_light:before {
  content: "\e800";
}

.icon-zz-squarecheck:before {
  content: "\e6d6";
}

.icon-zz-news_light:before {
  content: "\e801";
}

